html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 1;
    text-align: center;
}

#featured {
    padding-top: 70px;
}

/* Header styling */

header{
    height: 69px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid seashell;
    background-color: black;
    width: 100%;
}

header img{
    height: 50px;
    margin-left: 10px;
    margin-top: 15px;
    display: inline-block;
    float: left;
}

nav{
    display:inline;
    float: right;
}

li {
    list-style-type: none;
    display: inline;
    text-decoration: underline;
    margin: 10px;
}

a {
    color: seashell;
}

/* Mission styling */

#mission {
    background-image: url(../images/img-mission-background.webp);
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.text {
    background-color: black;
    width: 100%;
}

/* Featured styling */


.flex-container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.item img{
    padding: 5px;
    height: 200px;
    width: 300px;
    margin: 10px;
}

